

header {
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    font-family: Arial, sans-serif;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: lightgray;
}
body{
    background-color: mediumpurple;
    margin: 0;
    padding: 0;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
    color: white;

}

